<div class="bg-light lter b-b wrapper-md" ng-controller="roleCreateCtr">
    <h1 class="m-n font-thin h3">{{title}}</h1>
</div>
<div class="wrapper-md" ng-controller="roleCreateCtr">
    <div class="panel panel-default">
        <div class="panel-heading">
            基本内容
        </div>
        <div class="panel-body">
            <form class="form-horizontal" ng-submit="save()" method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label">角色名称</label>

                    <div class="col-sm-5">
                        <input type="text" ng-model="post.name" class="form-control" placeholder="角色名称" required>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">角色描述</label>

                    <div class="col-sm-5">
                        <input ng-model="post.description" type="text" class="form-control" required>
                    </div>
                </div>


                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>