@charset "utf-8";
/* CSS Document */
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
	color: #000;
	background: #262626;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
    /* 内外边距通常让各个浏览器样式的表现位置不同 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header,  menu, nav, section {
	margin: 0;
	padding: 0;
}
/* 要注意表单元素并不继承父级 font 的问题 */

body, button, input, select, textarea {
	font: 12px/1.5 tahoma, arial, \5b8b\4f53;
    font-family: "Microsoft YaHei","微软雅黑",Arial, sans-serif;
    color: #212121;
}
input, select, textarea {
	font-size: 100%;
}
/* 去掉各Table cell 的边距并让其边重合 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* IE bug fixed: th 不继承 text-align*/
th {
	text-align: inherit;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption, th {
	text-align: left;
}

/* 去除默认边框 */
fieldset, img {
	border: 0;
	padding:0;
	margin:0;
	display: inline-block;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
	display: block;
}
/* 去掉列表前的标识, li 会继承 */
ol, ul, li {
	list-style: none;
}
/* 一致的 del 样式 */
del {
	text-decoration: line-through;
}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 500;
}
/* 统一上标和下标 */
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
/* 默认不显示下划线，保持页面简洁 */

ins, a {
	text-decoration: none;
}
/* 让链接在 hover 状态下显示下划线 */
a {
	color: #444;
	cursor: pointer;
	outline:none;
}
a:hover {
	text-decoration: none;
	color: #000000;
}
/* 清理浮动 */
.clearFloat:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearFloat {
	zoom: 1; /* for IE6 IE7 */
}
/* 设置内联, 减少浮动带来的bug */
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	display: block;
}
/* HTML5 媒体文件跟 img 保持一致 */
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
	border: 0;
	font-variant: normal;
}
address, caption, cite, code, dfn, em, th, var {
	font-style: normal;
	font-weight: 500;
}
.none {
    display: none;
}
.d-block{
	display: block;
}
/*框架css自带样式的重置*/
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
    color: #333;
    font-weight:400;
	text-shadow:none;
}
/*重置所有的问题阴影属性*/
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    text-shadow:none;
}
/*设置ul的margin为0*/
.ui-page{
	background: none repeat scroll 0% 0% #ebeced;
}
.ui-content{
	padding:0;
    max-width: 640px;
    min-width: 320px;
	margin:0 auto;
}
.ui-content .ui-listview-inset, .ui-panel-inner > .ui-listview-inset {
    margin: 0;
}
.ui-shadow {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}
img{
	display: block;
}
.p10{
	padding: 10px;
}
.p15{
	padding: 15px;
}
.pt15{
	padding-bottom: 15px;
}
.mcenter{
	margin: 0 auto;
}
.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.mb10{
	margin-bottom: 10px;
}
.prr{
	position: relative;
}
.poo{
	position: absolute;
}
.paged {
	padding: 20px;
}
.hui8{
	color: #888;
}
.hui4{
	color: #444;
}
.font-s16{
	font-size: 16px;
}
.cored{
	color: #f00;
}


.text-c{
    text-align: center;
}
.o {
    font-family: arial;
}